.large-hero {
    border-bottom: 10px solid $mainBlue;
    position: relative;

    &__image {
        display: block;
    }
    &__text-content {
        position: absolute;
        padding-top: 88px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;

        @mixin atMedium {
            padding-top: 60px;
        }
    }
    &__title {
        font-weight: 300;
        color: $mainBlue;
        font-size: $mediumFont;
        margin: 0;

        @mixin atSmall {
            font-size: $largeFont;
        }
    }
    &__subtitle {
        font-weight: 300;
        color: $mainBlue;
        font-size: $smallFont;
        margin: 0;

        @mixin atSmall {
            font-size: $mediumFont;
        }
    }
    &__description {
        color: $light;
        font-size: $tinyFont;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        max-width: 30rem;
        margin: auto;

        @mixin atSmall {
            font-size: $smallFont;
        }
    }
}
